/Source/ProgramHeaders.xml
/Source/DataSourcesIndex.xml
Exports/
input/
output/
SmartUXInput/
*.log
*.lock
*.opt
*.sln
*.suo
*.ecf
*.xpaproj
*.xrfMagicIDs/branchIDs*.*
MagicIDs/branchIDs*.*
MagicIDs/branchIDs*.*
